#!/usr/bin/env bash
alias dps='docker ps -a --format "table {{.Names}}\t{{.Status}}\t{{.ID}}\t{{.Ports}}"'
alias clean='clear'
alias c='clear'
alias dvl='docker volume ls'
alias gs='git status'
alias gp='git push'
alias gc='git commit -m '
alias gpl='git pull'
alias gd='git add .'
alias ll='ls -lha --color=auto'
alias home='cd ~'
alias tmx='tmux'
alias tmxa='tmux a'
alias tmxl='tmux ls'
alias wan='dig +short txt ch whoami.cloudflare @1.0.0.1'
alias wdown='sudo wg-quick down'
alias wup='sudo wg-quick up'
alias zl='sudo zfs list; sudo zpool status; sudo zpool list'
alias las='cat ~/dotfiles/.aliases'
alias hp='sudo ssacli ctrl all show config'
alias ccd='cd'
alias l='ls'
