#!/usr/bin/env bash
alias dps='docker ps -a --format "table {{.Names}}\t{{.Status}}\t{{.ID}}\t{{.Ports}}"'
alias clean='clear'
alias c='clear'
alias dvl='docker volume ls'
alias gs='git status'
alias gp='git push'
alias gc='git commit -m '
alias gpl='git pull'
alias gd='git add .'
alias py='python3'
alias l='ls -lha --color=auto'
alias home='cd ~'
alias tmx='tmux'
alias tmxa='tmux a'
alias bit='bitwarden.AppImage'
alias wan='curl https://ipinfo.io/ip'
alias wdown='sudo wg-quick down wg0'
alias wup='sudo wg-quick up wg0'
alias zl='sudo zfs list; sudo zpool status; sudo zpool list'
alias listssh='cat ~/dotfiles/.aliases'
alias hp='sudo ssacli ctrl all show config'
alias theeye='ssh 162.213.130.3 -p 22 -i /home/robin/.ssh/theeye -l robin -A -D 8090 -q'
